.specials-section {
    display: grid;
    padding: 4vh 7vw 4vh 7vw;
}

.specials-header {
    display: grid;
}

.specials-header > button {
    grid-column: 2;
    justify-self: right;
    align-self: center;
}

.special-dishes {
    display: grid;
    place-items: center;
    padding-top: 4vh;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}

@media (max-width: 1140px) {
    .special-dishes {
        grid-template-columns: repeat(2, 1fr);
        gap: 4vw;
    }
}

@media (max-width: 640px) {
    .special-dishes {
        grid-template-columns: 1fr;
        gap: 4vw;
    }
}
