/*
 * Global Styles, based on Little Lemon Style Guide
 *
 */

/* Page Layout */

div {
    /* Root div */
    display: grid;
}

body {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

/* Text formatting: */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0.6vh;
}

/* Markazi Text Group */

h1,
h2 {
    font-family: "Markazi Text", serif;
    color: #333333;
}

h1 {
    /* Display Title */
    font-size: 64pt;
    font-weight: 500;
}

h2 {
    /* Subtitle */
    font-size: 40pt;
    font-weight: 400;
}

/* Karla Group */

h3,
h4,
h5,
h6,
p {
    font-family: "Karla", sans-serif;
    color: #333333;
}

h3 {
    /* Section Title */
    font-size: 20pt;
    font-weight: 800;
    text-transform: uppercase;
}

h4 {
    /* Section Categories */
    font-size: 16pt;
    font-weight: 800;
}

h5 {
    /* Card Title*/
    font-size: 18pt;
    font-weight: 700;
}

h6,
p {
    font-size: 16pt;
    color: #6f6f6f;
}

h6 {
    /* Highlight Text */
    font-weight: 500;
}

p {
    /* Paragraph Text */
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #6f6f6f;
}

/* Clickable object styles */

button {
    width: 220px;
    height: 65px;
    border-radius: 16px;
    background-color: #f4ce14;
    font-family: "Karla", sans-serif;
    font-size: 16pt;
    font-weight: 800;
    border-style: none;
}

/* Prevent window widths less than 280px to prevent visual issues */

@media (max-width: 279px) {
    html,
    body {
        min-width: 280px;
    }
}
