.nav-bar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.header-logo {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 1vw;
    padding-right: 2.5vw;
    height: 6.5vw;
    min-height: 6.5vh;
}

.nav-links ul {
    list-style: none;
    padding: 0vw;
    margin: 0vw;
    display: grid;
    grid-auto-flow: column;
}

.nav-links li {
    text-align: center;
}

.nav-links li:hover {
    background-color: #edefee;
}

/* Responsiveness for smaller screens */

@media (max-width: 1249px) {
    .nav-bar {
        justify-items: center;
        text-align: center;
    }

    .header-logo img {
        height: 8vw;
        min-height: 8vh;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }

    .nav-links ul {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-auto-flow: row;
    }

    .nav-links li:touch-action::backdrop {
        background-color: #edefee;
    }
}

@media (max-width: 930px) {
    .nav-links ul {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}

@media (max-width: 710px) {
    .nav-bar {
        grid-template-columns: 1fr;
    }

    .header-logo img {
        height: 6.5vw;
        min-height: 6.5vh;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }

    .nav-links ul {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
}
