.testimonial-card {
    background-color: white;
    min-height: 340px;
    min-width: 240px;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    align-items: center;
    justify-items: center;
}

.rating {
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.picture-and-name {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.picture-container {
    margin: 10px;
    border-radius: 16px;
    max-height: 140px;
    max-width: 100px;
    overflow: hidden;
}

.picture-container > img {
    width: 100px;
    height: 140px;
    object-fit: cover;
    object-position: center center;
}

.testimonial {
    padding: 1vh 2vw 1.5vh 2vw;
}

.testimonial > p {
    margin: 0%;
}

@media (max-width: 1190px) {
    .testimonial-card {
        max-width: 35vw;
    }
}

@media (max-width: 420px) {
    .testimonial {
        text-align: center;
        padding: 2vh 2vw 2.5vh 2vw;
    }
}
