.testimonials-section {
    background-color: #edefee;
    display: grid;
    padding: 2vh 7vw 4vh 7vw;
}

.testimonial-cards {
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
}

@media (max-width: 1190px) {
    .testimonial-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 4vw;
    }
}

@media (max-width: 605px) {
    .testimonial-cards {
        grid-template-columns: 1fr;
        gap: 4vw;
    }
}
